[env]
_.file = '.env'
MC_CONFIG_DIR = "{{ [config_root, '.mc'] | join_path }}"
MAVEN_OPTS=""


[tools]
# specify single or multiple versions
java = "liberica-25"
maven= "3.9.12"
act = '0.2.84'

[tasks.update-version]
description = "Update version in child modules, from parent"
run = "mvn -N versions:update-child-modules"

[tasks.build-jar]
description = "Build Jar"
run = "mvn package -Dpackages.skip=true -DskipTests"

[tasks.run-jar]
description = "Run Jar"
run = "java -DnoGui -DdevLog=true -jar modules/editor-gui/target/jar/pdf-metadata-editor-*.jar"

[tasks.build]
description = "Build App Image"
run = "mvn clean package -DskipTests -Dpackages.list=app-image -Dpackages.zip.skip=true"

[tasks.build-app]
description = "Build App Image (CI like)"
run = [
    "mvn clean",
    "mvn install -pl modules/basic-extension --also-make",
    "cd extensions/extension-dev/ && mvn --no-transfer-progress -B -DskipTests package",
    "mvn --no-transfer-progress -B -DskipTests package -P-ext-dev -DpackExtensions -DpackImage"
]

[tasks.release-build]
description = "Release Build"
run = "mvn clean package -DskipTests"

[tasks.set-test-license]
description = "Set license for JUnit tests"
run = 'java -DnoGui -DjunitTest=true -DdevLog=true -jar modules/editor-gui/target/jar/pdf-metadata-editor-*.jar   --license "${PME_LICENSE}"'