[env]
_.file = '.env'
MC_CONFIG_DIR = "{{ [config_root, '.mc'] | join_path }}"


[tools]
# specify single or multiple versions
java = "temurin-17.0.8"
maven= "3.9.6"
mc= "2024-10-29T15-34-59Z"

[tasks.update-version]
description = "Update version in child modules, from parent"
run = "mvn -N versions:update-child-modules"

[tasks.build]
description = "Build"
run = "mvn clean package -DskipTests -Dpackages.list=app-image "

[tasks.release-build]
description = "Release Build"
run = "mvn clean package -DskipTests"

[tasks.set-test-license]
description = "Set license for JUnit tests"
run = 'java -DnoGui -DjunitTest=true -DdevLog=true -jar modules/editor-gui/target/jar/pdf-metadata-editor-*.jar   --license "${PME_LICENSE}"'