[Desktop Entry]
Name=Pdf Metadata Editor
Comment=Simple Editor for PDF metadata
Exec="Pdf Metadata Editor"
Icon=me.broken_by.PdfMetadataEditor
Terminal=false
Type=Application
Categories=Utility
MimeType=application/pdf
