# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven

on:
  push:
    tags:
      - 'v*'
    branches:
      - "v4-dev"
  pull_request:
    branches: [ "v4-dev" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{
        (startsWith(matrix.os, 'macos') && matrix.os) ||
        (matrix.arch == 'arm' && format('{0}-arm',
          matrix.os == 'windows-2022' && 'windows-11' || matrix.os
        )) ||
        (matrix.os)
      }}
    strategy:
      max-parallel: 3
      matrix:
        os:
          - windows-2022
          - ubuntu-24.04
          - macos-15
        arch:
          - amd64
          - arm
        exclude:
          - os: macos-15
            arch: amd64
          - os: macos-15
            arch: arm
    outputs:
      version: ${{ steps.getVersion.outputs.version }}
      preRelease: ${{ contains( steps.getVersion.outputs.version, 'beta' ) || contains( steps.getVersion.outputs.version, 'rc' )  }}
    steps:
      - uses: actions/checkout@v4

      # Setup
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'liberica'
          cache: maven

      - name: Setup WiX
        if: ${{ startsWith( matrix.os, 'windows' ) }}
        run: dotnet tool install --global wix --version 6.0.2

      - name: Add WiX Extensions
        if: ${{ startsWith( matrix.os, 'windows' ) }}
        run: wix extension add WiXToolset.Util.wixext

      - name: maven-settings-xml-action
        uses: InstaCode/maven-settings-xml-action@v9
        with:
          servers: '[{ "id": "github-jdde", "username": "zaro", "password": "${{ secrets.JDDE_PACKAGES_TOKEN }}" }]'

      - name: Run Tests
        uses: coactions/setup-xvfb@v1
        env:
          PME_LICENSE: ${{ secrets.PME_LICENSE }}
          NO_GUI_TESTS: ${{ contains( matrix.os, 'macos') }}
        with:
          run: mvn --no-transfer-progress -B test --file pom.xml

      # Build
      - name: Build with Maven
        env:
          PME_LICENSE: ${{ secrets.PME_LICENSE }}
          SIGNTOOL_CERT: ${{ secrets.SIGNTOOL_CERT }}
        run: mvn --no-transfer-progress -B -DskipTests package --file pom.xml

      # Publish
      - name: Get Version
        uses: entimaniac/read-pom-version-action@1.0.0
        id: getVersion

      - name: Remove packaging garbage
        if: ${{ startsWith( matrix.os, 'macos' ) }}
        run: rm -f modules/editor-gui/target/default._*.dmg

      - name: Make sure we release JAR file from only one OS
        if: ${{ !startsWith( matrix.os, 'ubuntu' ) }}
        run: rm -f modules/editor-gui/target/*.jar
        shell: bash

      - uses: actions/upload-artifact@v4
        with:
          name: release-files-${{ matrix.os }}-${{ matrix.arch }}
          path: modules/editor-gui/target/* # or path/to/artifact
          retention-days: 1

  release:
    permissions:
      contents: write

    needs: build

    # Only create release on a tag
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
      - name: Display structure of downloaded files
        run: ls -R
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          prerelease: ${{ needs.build.outputs.preRelease }}
          files: |
            release-files-*/*

#    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
#    - name: Update dependency graph
#      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
