# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

## Testing locally with act
# act -j build -s EXTENSIONS_REPO_TOKEN=${PME_EXTENSIONS_ACT_LOCAL} -s PME_LICENSE=${PME_LICENSE}

name: Build Release Files

on:
  push:
    tags:
      - 'v*'
    branches:
      - "v4-dev"
  pull_request:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          repository: zaro/pdf-metadata-editor-extensions
          token: ${{ secrets.EXTENSIONS_REPO_TOKEN }}
          path: extensions
      # Setup
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'liberica'
          cache: maven
      # Run tests
      - name: Run Tests
        uses: coactions/setup-xvfb@v1
        env:
          PME_LICENSE: ${{ secrets.PME_LICENSE }}
          JEMMY_TIMEOUT: 20000
        with:
          run: ./mvnw --no-transfer-progress -B test -Dmaven.test.redirectTestOutputToFile=true

      - name: Save Test Logs
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: test-job-output
          path: modules/**/target/test-output/* # or path/to/artifact
          retention-days: 1
  build:
    needs: test
    runs-on: ${{
        (startsWith(matrix.os, 'macos') && matrix.os) ||
        (matrix.arch == 'arm' && format('{0}-arm',
          matrix.os == 'windows-2022' && 'windows-11' || matrix.os
        )) ||
        (matrix.os)}}
    strategy:
      max-parallel: 3
      matrix:
        os:
          - windows-2022
          - ubuntu-24.04
          - macos-15
        arch:
          - amd64
          - arm
        exclude:
          - os: macos-15
            arch: amd64
          # Testing only
          #- os: macos-15
          #  arch: arm
          #- os: ubuntu-24.04
          #  arch: amd64
          #- os: ubuntu-24.04
          #  arch: arm
          #- os: windows-2022
          #  arch: arm
    outputs:
      version: ${{ steps.getVersion.outputs.version }}
      preRelease: ${{ contains( steps.getVersion.outputs.version, 'beta' ) || contains( steps.getVersion.outputs.version, 'rc' )  }}
    env:
       # EXTERNAL_SIGNING: 'no'
       EXTERNAL_SIGNING: ${{ startsWith(github.ref, 'refs/tags/') && 'yes' || 'no' }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          repository: zaro/pdf-metadata-editor-extensions
          token: ${{ secrets.EXTENSIONS_REPO_TOKEN }}
          path: extensions

      # Setup
      - name: Azure Login action
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          enable-AzPSSession: true

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'liberica'
          cache: maven

      - name: Setup WiX
        if: ${{ startsWith( matrix.os, 'windows' ) }}
        run: powershell.exe -ExecutionPolicy Bypass -File wix-setup.ps1

      - name: maven-settings-xml-action
        uses: InstaCode/maven-settings-xml-action@v9
        with:
          servers: '[{ "id": "github-jdde", "username": "zaro", "password": "${{ secrets.JDDE_PACKAGES_TOKEN }}" }]'

      # Build
      - name: Build Extension API
        run: ./mvnw --no-transfer-progress -B install -pl modules/basic-extension --also-make 

      - name: Build Extensions
        run: ../mvnw --no-transfer-progress -B -DskipTests package 
        working-directory: extensions/extension-dev

      # These two steps are only needed if running locally with act
      # - run: sudo add-apt-repository -y main restricted universe multiverse
      # - run: sudo apt-get install -y libxtst6 libxrender1 libxi6 fakeroot rpm build-essential
      - name: Run Tests
        uses: coactions/setup-xvfb@v1
        env:
          PME_LICENSE: ${{ secrets.PME_LICENSE }}
          NO_GUI_TESTS: ${{ contains( matrix.os, 'macos') }}
          JEMMY_TIMEOUT: 20000
        with:
          run: ./mvnw --no-transfer-progress -B test -Dmaven.test.redirectTestOutputToFile=true

      - name: Build Editor Image for packaging
        env:
          SIGNTOOL_CERT: ${{ secrets.SIGNTOOL_CERT }}
        run: ./mvnw --no-transfer-progress -B -DskipTests package -P-ext-dev -DpackExtensions -DpackImage

      - name: Sign Executables with Artifact Signing
        uses: azure/artifact-signing-action@v1
        if: ${{ env.EXTERNAL_SIGNING == 'yes' && startsWith(github.ref, 'refs/tags/') && startsWith( matrix.os, 'windows' ) }}
        with:
          endpoint: https://neu.codesigning.azure.net/
          signing-account-name: broken-by-design
          certificate-profile-name: pdf-metadata-editor
          files-folder: '${{ github.workspace }}\modules\editor-gui\target\packages-image\Pdf Metadata Editor\'
          files-folder-filter: exe
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      - name: Build Editor Installers
        env:
          SIGNTOOL_CERT: ${{ secrets.SIGNTOOL_CERT }}
        run: ./mvnw --no-transfer-progress -B -DskipTests package -P-ext-dev -DpackExtensions -DpackInstallers

      # Publish
      - name: Get Version
        uses: entimaniac/read-pom-version-action@1.0.0
        id: getVersion

      - name: Remove packaging garbage
        if: ${{ startsWith( matrix.os, 'macos' ) }}
        run: rm -f modules/editor-gui/target/default._*.dmg

      - name: Build Uber JAR
        # Until the uber jar is fixed, not JAR release
        if: ${{ startsWith( matrix.os, 'ubuntu' ) }}
        run: ./mvnw package -Dpackages.skip=true -DskipTests
        shell: bash

      - name: Make sure we release JAR file from only one OS
        if: ${{ !startsWith( matrix.os, 'ubuntu' ) }}
        run: rm -f modules/editor-gui/target/packages/*.jar
        shell: bash

      - name: Save Release Files
        uses: actions/upload-artifact@v6
        id: upload-release-files
        with:
          name: release-files-${{ matrix.os }}-${{ matrix.arch }}
          path: modules/**/target/packages/* # or path/to/artifact
          retention-days: 1

      - name: Sign Installers with Artifact Signing
        uses: azure/artifact-signing-action@v1
        if: ${{ env.EXTERNAL_SIGNING == 'yes' && startsWith(github.ref, 'refs/tags/') && startsWith( matrix.os, 'windows' ) }}
        with:
          endpoint: https://neu.codesigning.azure.net/
          signing-account-name: broken-by-design
          certificate-profile-name: pdf-metadata-editor
          files-folder: '${{ github.workspace }}\modules\editor-gui\target\packages\'
          files-folder-filter: exe,msi
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      - name: Save Test Logs
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: test-output-${{ matrix.os }}-${{ matrix.arch }}
          path: modules/**/target/test-output/* # or path/to/artifact
          retention-days: 1

  release:
    permissions:
      contents: write

    needs: build

    # Only create release on a tag
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: release-files-*
      - name: Display structure of downloaded files
        run: ls -R
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          prerelease: ${{ needs.build.outputs.preRelease }}
          files: |
            release-files-*/editor-gui/target/packages/*

#    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
#    - name: Update dependency graph
#      uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
